# Ignorar archivos y carpetas de Visual Studio
.vs/
*.suo
*.user
*.userprefs

# Ignorar carpetas de compilación y salida
bin/
obj/

# Ignorar configuraciones específicas de la solución
*.csproj.user
*.csproj.userprefs
*.csproj.vspscc
*.sln.docstates

# Ignorar archivos temporales
*.tmp
*.log
*.cache
*.pdb

# Ignorar archivos generados automáticamente
*.dbmdl
*.jfm
